<div class="pagination pagination-centered">
  <ul>
    <% if(offset && offset > 0) { %>
      <li><a href="/movies?limit=<%= limit %>&offset=<%= offset - limit %>">Prev</a></li>
    <% } %>
    <li class="active">
      <% if(offset == null || offset < 1) { %>
        <a href="#">1</a>
      <% } else { %>
        <a href="#"><%= offset / limit + 1 %></a>
      <% } %>
    </li>
    <li><a href="/movies?limit=<%= limit %>&offset=<%= offset + limit %>">Next</a></li>
  </ul>
</div>