<div class="hero-unit">
  <%#- linkTo('Add new Movie', addMoviePath, {class: 'btn pull-right'}) %>

  <div class="container-fluid">
    <%= partial("_pagination", {params: params, limit: limit, offset: offset, count: count }) %>

    <% if (movies && movies.length) { %>
      <ul class="thumbnails">
      <% for (var i in movies) { %>
        <!-- div class="row todo-item">
          <div class="span8">
              <h3><%- linkTo(movies[i].title, editMoviePath(movies[i].id)) %></h3>
          </div>
          <div class="span4"><h3><i class="icon-list-alt"></i><%= movies[i].title; %></h3></div>
        </div -->

        <li class="span3">
          <h4><%= truncate(movies[i].title, { length: 32 }); %></h4>
          <a href="<%= movies[i].uri; %>" class="thumbnail" target="_blank">
            <% var link = movies[i].imgs[0]; %>
            <%# var link = "/img/sunflower.jpg"; %>
            <img src=<%= link %> style="width:260px; height: 160px;" alt="<%= movies[i].title; %>">
          </a>
        </li>
      <% } %>
      </ul>
    <% } %>
  </div>

  <%= partial("_pagination", {params: params, limit: limit, offset: offset, count: count }) %>
</div>
